html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
}
.header {
  color:#fff;
}
.header ul {
  list-style: none;
}
.header li {
  display: inline;
  margin-right: 30px;
}

.jumbotron {
  background-color: #000;
  height:600px; 
}
.jumbotron h1 {
  color:#fff;
  font-weight:300; 
  margin-top:80px; 
  margin-bottom:40px;  
}
.jumbotron .btn {
  color: #0393ff;
  background: transparent;
  border: 1px solid #0393ff;
  border-radius: 2px;
  padding: 8px 20px;
}
 .jumbotron .btn:hover {
  color:#fff;
  background-color:#0393ff; 
}
.container {
  max-width: 970px;
}
.main {
  text-align:center;
}
form {
  margin-top:80px;
}
#search{
  background:transparent; 
  border:0px; 
  border-radius:0; 
  border-bottom:1px solid #fff;
  color:#fff;
  font-size:18px; 
  margin:0 20px; 
  width:400px;
}
#search:hover {
	border-bottom:1px solid #0393ff;
}
 #search:focus {
  border-bottom:1px solid #0393ff;
  box-shadow:0px 0px 0px; 
  outline:0px;
      }
.supporting {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
  background-size:141px 142px;
  margin-top:-30px;
 }
.feature {
  background-image:url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg);
  background-size:cover;
}
.footer {
  background:#000;
  padding:60px 0; 
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;  
}
.footer ul {
  color:#0393ff; 
  list-style:none;
  padding-left:0px;  
}
